<!-- New Ad -->

<section id="display-container" class="position-relative rounded shadow">
  <div class="rounded" id="display-panel">

    <!-- New Ad Header -->
    <h3 class="text-center pt-3 new-ad">New Ad</h3>
    <!--Flash message-->
    {{> messages}}

    <form action="/posts/ad" method="post" class="pt-3 needs-validation" novalidate>
      <!--CSRF token-->
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <!--Form-->

      <!--Title-->

      <!-- Company Name -->
      <div class="form-group form-ad mt-2">
        <small class="tool-tip name-tip">Company Name</small>
        <label for="title" class="sr-only">Company Name</label>
        <input type="text" class="form-control form-control-newcss" id="title" name="title" placeholder="Your company's name" minlength="1"
          value="{{post.title}}" required>
        <div class="invalid-feedback">
          Please fill in your company's name!
        </div>
      </div>


      <div class="form-row form-row-newcss">

        <!-- Comapny Address -->
        <div class="col-md-6 col-sm-12">
          <small class="tool-tip name-tip">Company Address</small>
          <label for="title" class="sr-only">Company Address</label>
          <input type="text" class="form-control form-control-newcss" id="title" name="title" placeholder="Your company's address" minlength="1"
          value="{{post.title}}" required>
          <div class="invalid-feedback">
            Please fill in your company's address! If your company doesn't have an address, please type "/".
          </div>
        </div>
        
        <!-- Comapny Website -->
        <div class="col-md-6 col-sm-12">
          <small class="tool-tip name-tip">Comapny Website</small>
          <label for="title" class="sr-only">Comapny Website</label>
          <input type="text" class="form-control form-control-newcss" id="title" name="title" placeholder="Your company's website" minlength="1"
          value="{{post.title}}" required>
          <div class="invalid-feedback">
            Please fill in your company's website! If your company doesn't have a website, please type "/".
          </div>
        </div>
      </div>

      <br>

      <div class="form-row form-row-newcss">

        <!-- Contact Person -->
        <div class="col-md-4 col-sm-12">
          <small class="tool-tip name-tip">Contact Person</small>
          <label for="title" class="sr-only">Contact Person</label>
          <input type="text" class="form-control form-control-newcss" id="title" name="title" placeholder="Contact person's full name" minlength="1"
          value="{{post.title}}" required>
          <div class="invalid-feedback">
            Please fill in contact person's full name!
          </div>
        </div>

        <!-- Phone -->
        <div class="col-md-4 col-sm-12">
          <small class="tool-tip name-tip">Phone</small>
          <label for="title" class="sr-only">Phone</label>
          <input type="text" class="form-control form-control-newcss" id="title" name="title" placeholder="Contact person's phone number" minlength="1"
          value="{{post.title}}" required>
          <div class="invalid-feedback">
            Please fill in contact person's phone number!
          </div>
        </div>

        <!-- Email -->
        <div class="col-md-4 col-sm-12">
          <small class="tool-tip name-tip">Email</small>
          <label for="title" class="sr-only">Email</label>
          <input type="text" class="form-control form-control-newcss" id="title" name="title" placeholder="Contact person's email" minlength="1"
          value="{{post.title}}" required>
          <div class="invalid-feedback">
            Please fill in contact person's email!
          </div>
        </div>
      </div>

      <hr>

      <!-- Ad Title -->
      <div class="form-group form-ad mt-2">
        <small class="tool-tip name-tip">Title of Advertisement</small>
        <label for="title" class="sr-only">Title of Advertisement</label>
        <input type="text" class="form-control form-control-newcss" id="title" name="title" placeholder="Title of your advertisement" minlength="1"
          value="{{post.title}}" required>
        <div class="invalid-feedback">
          Please fill in your advertisement's title!
        </div>
      </div>




 
      <div class="form-row form-row-newcss">

        <!-- Advertising Plan -->
        <div class="col-md-4 col-sm-12 tool-tip-container animateField">
          <small class="tool-tip date-tip">Advertising Plan</small>
          <label for="category" class="sr-only">Advertising Plan</label>
          <select class="form-control form-control-newcss" id="category" name="category">
            <option value="General">General</option>
            <option value="Advanced">Advanced</option>
          </select>
          <div class="invalid-feedback">
            Please choose one!
          </div>
        </div>

        <!-- Days to Advertise -->
        <div class="col-md-4 col-sm-12 tool-tip-container animateField">
          <small class="tool-tip date-tip">Days to Advertise</small>
          <label for="category" class="sr-only">Days to Advertise</label>
          <select class="form-control form-control-newcss" id="category" name="category">
            <option value="7">7 days</option>
            <option value="15">15 days</option>
            <option value="30">30 days</option>
          </select>
          <div class="invalid-feedback">
            Please choose one!
          </div>
        </div>

        <!-- Begin Date -->
        <div class="col-md-4 col-sm-12 tool-tip-container animateField">
          <small class="tool-tip date-tip">Date Begin</small>
          <label for="dueDate" class="sr-only">Date Begin</label>
          <input type="date" class="form-control form-control-newcss pr-1" id="dueDate" name="dueDate" value="{{post.dueDate}}"
            min="2020-12-29" max="2025-12-31" required>
          <div class="invalid-feedback">
            When to begin?
          </div>
        </div>
      </div>

      <hr>
      <button type="submit" class="btn btn-block todo-submit submit-newAd-btn">Submit</button>
    </form>
  </div>
</section>