<section id="display-container" class="rounded shadow">
  <div class="rounded position" id="display-panel">
    <h3 class="text-center py-3"><u>All Posts</u></h3>
    <form action="/search" method="get" id="filter-panel" class="mb-1">
      <div class="form-row">
        <div class="dropdown col-6 text-center">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="sortDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.sort}}{{filter.sort}}{{else}}Sort{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="sortDropDownMenu">
            <input type="hidden" name="preSort" value="{{filter.sort}}">
            <input type="submit" class="dropdown-item text-muted" name="sort" value="Deadline">
          </div>
        </div>
        {{!-- <div class="dropdown col-4 text-center">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="dateDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.dueDate}}{{filter.dueDate}}{{else}}Date{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dateDropDownMenu">
            <input type="hidden" name="preDate" value="{{filter.dueDate}}">
            {{#each dateOptions}}
            <input type="submit" class="dropdown-item text-muted" name="date" value="{{this}}">
            {{/each}}
            <div class="dropdown-divider"></div>
            <input type="submit" class="dropdown-item text-muted" name="dateReset" value="Reset">
          </div>
        </div> --}}
        <div class="dropdown col-6 text-center">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="statusDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.status}}{{filter.status}}{{else}}Category{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="statusDropDownMenu">
            <input type="hidden" name="preDone" value="{{filter.status}}">
            <input type="submit" class="dropdown-item text-muted" name="category" value="食物">
            <input type="submit" class="dropdown-item text-muted" name="category" value="日常用品">
            <input type="submit" class="dropdown-item text-muted" name="category" value="其他">
            <div class="dropdown-divider"></div>
            <input type="submit" class="dropdown-item text-muted" name="doneReset" value="Reset">
          </div>
        </div>
      </div>
    </form>
    <hr>
    <div class="group-list">
      <div class="row row-cols-1 row-cols-md-3 g-4animated bounceInUp">
        {{!-- <div class="card-columns"> --}}
          {{#each groups}}
          <div class="col">
            <div class="card bg-light mb-3">
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.category}}</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{progressBar this.number this.maxNum}}%;"
                    aria-valuenow="{{progressBar this.number this.maxNum}}" aria-valuemin="0" aria-valuemax="100">
                    {{progressBar this.number this.maxNum}}
                  </div>
                </div>
                <a href="/groups/view/{{this.id}}" class="btn btn-outline-secondary" role="button">
                  Detail
                </a>
              </div>
            </div>
          </div>
          {{/each}}
          {{!--
        </div> --}}
      </div>
      {{#if noPost}}
      <div class="row align-items-center justify-content-center text-muted">
        <i class="far fa-smile-beam pr-1"></i>No Group Here!
      </div>
      {{/if}}
    </div>
  </div>
</section>