<section id="display-container" class="rounded shadow">
  <div class="rounded position" id="display-panel">
    <h3 class="text-center py-3 all-groups">All Groups</h3>
    <div class="form-row">
      <div class="dropdown col-4 text-center">
        <form action="/search/area" method="get" id="filter-panel" class="mb-1">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="sortDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.area}}{{filter.area}}{{else}}Area{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="sortDropDownMenu">
            <input type="submit" class="dropdown-item" name="area" value="Taipei">
            <input type="submit" class="dropdown-item" name="area" value="Taoyuan">
            <input type="submit" class="dropdown-item" name="area" value="Hsinchu">
            <input type="submit" class="dropdown-item" name="area" value="Miaoli">
            <input type="submit" class="dropdown-item" name="area" value="Taichung">
            <input type="submit" class="dropdown-item" name="area" value="Changhua">
            <input type="submit" class="dropdown-item" name="area" value="Nantou">
            <input type="submit" class="dropdown-item" name="area" value="Yunlin">
            <input type="submit" class="dropdown-item" name="area" value="Chiayi">
            <input type="submit" class="dropdown-item" name="area" value="Tainan">
            <input type="submit" class="dropdown-item" name="area" value="Kaohsiung">
            <input type="submit" class="dropdown-item" name="area" value="Pingtung">
            <input type="submit" class="dropdown-item" name="area" value="Yilan">
            <input type="submit" class="dropdown-item" name="area" value="Hualien">
            <input type="submit" class="dropdown-item" name="area" value="Taitung">
            <input type="submit" class="dropdown-item" name="area" value="Penghu">
            <input type="submit" class="dropdown-item" name="area" value="Green Island & Orchid Island">
            <input type="submit" class="dropdown-item" name="area" value="Kinmen & Matsu">
            <div class="dropdown-divider"></div>
            <a href="/" class="dropdown-item">Reset</a>
          </div>
        </form>
      </div>
      <div class="dropdown col-4 text-center">
        <form action="/search/date" method="get" id="filter-panel" class="mb-1">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="dateDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.deadline}}{{filter.deadline}}{{else}}Date Order{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dateDropDownMenu">
            <input type="submit" class="dropdown-item" name="date" value="Furthest date">
            <input type="submit" class="dropdown-item" name="date" value="Closest date">
            <div class="dropdown-divider"></div>
            <a href="/" class="dropdown-item">Reset</a>
          </div>
        </form>
      </div>
      <div class="dropdown col-4 text-center">
        <form action="/search/category" method="get" id="filter-panel" class="mb-1">
          <button class="btn btn-link dropdown-toggle text-dark" type="button" id="statusDropDownMenu"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if filter.category}}{{filter.category}}{{else}}Category{{/if}}
          </button>
          <div class="dropdown-menu" aria-labelledby="statusDropDownMenu">
            <input type="submit" class="dropdown-item" name="category" value="Food">
            <input type="submit" class="dropdown-item" name="category" value="Daily Supplies">
            <input type="submit" class="dropdown-item" name="category" value="Apparel">
            <input type="submit" class="dropdown-item" name="category" value="Entertainment">
            <input type="submit" class="dropdown-item" name="category" value="Others">
            <div class="dropdown-divider"></div>
            <a href="/" class="dropdown-item">Reset</a>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="group-list">
      <div class="row animated bounceInUp">
        <div class="card-columns">
          {{#each groups}}
          <div class="col">
            <div class="card card-dec bg-light mb-3">
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.category}}</h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{progressBar this.number this.maxNum}}%;"
                    aria-valuenow="{{progressBar this.number this.maxNum}}" aria-valuemin="0" aria-valuemax="100">
                    {{progressBar this.number this.maxNum}}%
                  </div>
                </div>
                <p class="card-text">
                  Deadline: {{this.deadline}}<br />
                  Min number: {{this.minNum}}<br />
                  Max number: {{this.maxNum}}<br />
                  Area: {{this.addr}}<br />
                  Contact information: {{this.contactInfo}}<br />
                  Number now: {{this.number}}<br />
                </p>
                <a href="/groups/view/{{this.id}}" class="card-link btn-block">+1</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{#if noPost}}
    <div class="row align-items-center justify-content-center text-muted">
      <i class="far fa-smile-beam pr-1"></i>No Group Now!
    </div>
    {{/if}}
  </div>
  </div>
</section>